<div class="content-box">

    <a routerLink="/list">
        <button>back</button>
    </a>
    <h1>Cadastro de cliente</h1>
    <div class="table-responsive">
    <form  [formGroup]="form1" (ngSubmit)="doCreate(form1.value)">
    <table class="table">
        <!-- <h2>{{cliente.nome}}</h2> -->
        
        <tr>
            <td>Nome :</td>
            <td><input type="text" formControlName="nome" [(ngModel)]="cliente.nome" /></td>
        </tr>
 
        <tr>
            <td>Endereço :</td>
            <td><input type="text" formControlName="endereco" [(ngModel)]="cliente.endereco" /></td>
        </tr>
        <tr>
            <td>telefone:</td>
            <td><input type="text" formControlName="telefone" [(ngModel)]="cliente.telefone" /></td>
        <tr>
            <tr>
                <td>Email:</td>
                <td><input type="text" formControlName="email" [(ngModel)]="cliente.email" /></td>
            <tr>

        <tr>
            <button type="submit" >Enviar</button>
        </tr>
    </table>
    
</form>

</div>


    <a  [hidden]="link" routerLink="/aparelho-new/{{cliente.id}}">
        <button>Adicionar Aparelho</button>
    </a>

 

</div>
